.main-content {
  width: 1440px;
  margin: auto;
  font-size: 14px;
}

.connect-container {
  margin: 20px 0;
}

.blinkable {
  opacity: 0;
}
.blink {
  opacity: 0;
  animation: blinker 2s ease-out;
}

@keyframes blinker {
  33% { opacity: 1; }
}
